/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2563eb;
    padding: 15px 50px;
}

/* Logo */
.logo h1{
    color: white;
    font-size: 28px;
}

/* Menu */
.menu{
    display: flex;
    list-style: none;
    gap: 25px;
}

/* Link */
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

/* Hover */
.menu li a:hover{
    color: yellow;
}

/* Content */
.container{
    padding: 40px;
}

.container h2{
    margin-bottom: 15px;
    color: #2563eb;
}

/* Footer */
.footer{
    background-color: #2563eb;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}